@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 1vmin);
}
input, button {
  font-family: 'Oswald', sans-serif;
  font-size: calc(10px + 0.1vmin);
}

p, input, li, button {
  font-weight: 300
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
 
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  transition: opacity 200ms ease-in-out;

}

.ReactModal__Body--open #root {

  filter: blur(1em);
}

